html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#notes-area {
	border: none;
	padding: 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Source Code Pro';
	font-size: 22px;
	z-index: -1;
}

#notes-area[theme="dark"] {
	background-color: #222;
	color: #eee;
}

#notes-area[theme="light"] {
	background-color: #eee;
	color: #222;
}

.button {
	padding: 5px;
	outline: none;
	border: none;
	background-color: inherit;
}

.button:hover {
	cursor: pointer;
}

#theme-button-svg {
	width: 64px;
	height: 64px;
}

#theme-button-svg[theme="dark"] {
	fill: #eee;
	stroke: #eee;
}

#theme-button-svg[theme="light"] {
	fill: #222;
	stroke: #222;
}

.above {
	z-index: 1;
}

.float-tr {
	position: fixed;
	top: 10px;
	right: 10px;
}